{
    "swagger": "2.0",
    "info": {
        "title": "DOIT Test Task Mailer API",
        "description": "REST API implementation based on the requirements described in technical specification",
        "termsOfService": "",
        "contact": {
            "email": "vlad.betcun@gmail.com"
        },
        "version": "1.0.0"
    },
    "host": "doit-task.loc",
    "basePath": "/api/v1/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Security"
                ],
                "summary": "Sign in  user in the system",
                "description": "Returns token and link to the avatar",
                "operationId": "apiLogin",
                "parameters": [
                    {
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        },
                        "examples": {
                            "application/json": {
                                "token": "ZdZs5B2rAf7QpFx4Tmk5g3Bx76rMJhEfZNPhhKx1whciIBKuY8lLauy8uppW",
                                "avatar": {
                                    "main": "APP_URL/storage/default.png",
                                    "thumbnail": "APP_URL/storage/default-thumbnail.png"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Record Not Found",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Record not found",
                                "detail": "The user with email: admin@ukr.net doesn't exist!",
                                "status": 404
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Method Not Allowed",
                                "detail": {
                                    "Allow": "POST"
                                },
                                "status": 405
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Validation Failed",
                                "detail": {
                                    "email": [
                                        "The email must be a valid email address."
                                    ]
                                },
                                "status": 422
                            }
                        }
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Security"
                ],
                "summary": "Sign up user in the system",
                "description": "Returns all user data",
                "operationId": "apiRegister",
                "parameters": [
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "Email address",
                        "required": true,
                        "type": "string",
                        "format": "email"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Password",
                        "required": true,
                        "type": "string",
                        "format": "password"
                    },
                    {
                        "name": "avatar",
                        "in": "formData",
                        "description": "Avatar image",
                        "required": false,
                        "type": "file"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful Operation",
                        "schema": {
                            "$ref": "#/definitions/RegisterResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 2,
                                "email": "user@ukr.net",
                                "token": "ZdZs5B2rAf7QpFx4Tmk5g3Bx76rMJhEfZNPhhKx1whciIBKuY8lLauy8uppW",
                                "avatar": {
                                    "main": "APP_URL/storage/default.png",
                                    "thumbnail": "APP_URL/storage/default-thumbnail.png"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Method Not Allowed",
                                "detail": {
                                    "Allow": "POST"
                                },
                                "status": 405
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Validation Failed",
                                "detail": {
                                    "email": [
                                        "The email must be a valid email address."
                                    ]
                                },
                                "status": 422
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Internal Server Error",
                                "detail": "The image cannot be decoded",
                                "status": 500
                            }
                        }
                    }
                }
            }
        },
        "/mail/github": {
            "post": {
                "tags": [
                    "Mail"
                ],
                "summary": "Emails to GitHub Users",
                "description": "Sending emails to GitHub Users by their usernames",
                "operationId": "mailGithub",
                "parameters": [
                    {
                        "name": "Body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/GithubMailRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        },
                        "examples": {
                            "application/json": {
                                "message": "All emails were sent successfully"
                            }
                        }
                    },
                    "401": {
                        "description": "Not Authorized",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "You are not authenticated in the system.",
                                "detail": "Check if token exists in 'Authorization' header",
                                "status": 401
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Method Not Allowed",
                                "detail": {
                                    "Allow": "POST"
                                },
                                "status": 405
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Validation Failed",
                                "detail": {
                                    "usernames": [
                                        "The usernames field is required."
                                    ]
                                },
                                "status": 422
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "examples": {
                            "application/json": {
                                "title": "Internal Server Error",
                                "detail": "Open Weather Map not reachable",
                                "status": 500
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "LoginRequest": {
            "required": [
                "email",
                "password"
            ],
            "properties": {
                "email": {
                    "type": "string",
                    "format": "email"
                },
                "password": {
                    "type": "string",
                    "format": "password"
                }
            }
        },
        "GithubMailRequest": {
            "required": [
                "usernames",
                "message"
            ],
            "properties": {
                "usernames": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "LoginResponse": {
            "properties": {
                "token": {
                    "type": "string"
                },
                "avatar": {
                    "properties": {
                        "main": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "RegisterResponse": {
            "properties": {
                "id": {
                    "type": "number"
                },
                "email": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                },
                "avatar": {
                    "properties": {
                        "main": {
                            "type": "string"
                        },
                        "thumbnail": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "Error": {
            "properties": {
                "title": {
                    "description": "User friendly error",
                    "type": "string"
                },
                "detail": {
                    "description": "Error details",
                    "type": "any"
                },
                "status": {
                    "description": "HTTP status code",
                    "type": "number"
                }
            }
        }
    },
    "securityDefinitions": {
        "default": {
            "type": "apiKey",
            "description": "\n           For accessing the API a valid token must be passed\n           in the desired queries. The following syntax must\n           be used in the 'Authorization' header :\n\n           Bearer {{ token }}",
            "name": "Authorization",
            "in": "header"
        }
    }
}